[Desktop Entry]
Encoding=UTF-8
Name=Folm
Comment=Folm P2P Cryptocurrency
Comment[fr]=Folm, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Folm, eşten eşe kriptografik sanal para birimi
Exec=folm-qt %u
Terminal=false
Type=Application
Icon=folm128
MimeType=x-scheme-handler/folm;
Categories=Office;Finance;
